@keyframes pulsate {
  from {
    -webkit-transform: scale(0.25);
    opacity: 1.0;
  }

  95% {
    -webkit-transform: scale(1.3);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

google-map-cached div div div div div div div[title="Bus"] {
  animation: pulsate 1.5s ease-in-out infinite;
  border: 3pt solid rgba(97, 165, 145, 0.507);
  z-index: 1;
  border-radius: 51px;
  box-shadow: inset 0 0 5px #61A591, inset 0 0 5px #61A591, inset 0 0 5px #61A591, 0 0 5px #61A591, 0 0 5px #61A591, 0 0 5px #61A591;
  height: 51px !important;
  margin: 8px 0 0 15px;
  width: 51px !important;
}

google-map-cached div div div div div div div[title="Bus"] img {
  display: none;
}