@import "./map.css";
@import "./datepicker.css";
@import "./icon_colors.css";

body {
  margin: 0;
  color: #293c4b;
  overflow: hidden;
  letter-spacing: 0.01rem;
}

text {
  font-family: "SF Pro Text", sans-serif;
  font-size: 10px;
  fill: rgba(115, 115, 115, 1);
}

.handle {
  cursor: ew-resize;
}

gmap,
google-map-cached {
  width: 100%;
  height: 100%;
}

.blurred {
  backdrop-filter: blur(4px);
}

div div.clickThrough .nonClickThrough {
  pointer-events: all;
}

div .clickThrough:not(.nonClickThrough) {
  pointer-events: none;
}

.animatesShadow:not(.animatesNone) {
  transition: box-shadow, transform, border 250ms 50ms;
  transition-timing-function: var(--cubic)
}

.animatesAll20Seconds:not(.animatesNone) {
  transition: all 20000ms 50ms;
  transition-timing-function: linear;
}

.animatesAll:not(.animatesNone) {
  transition: all 250ms 0ms;
  transition-timing-function: var(--cubic)
}

.animatesAllDelayed:not(.animatesNone) {
  transition: all 250ms 100ms;
  transition-timing-function: var(--cubic)
}

.safari-clip {
  transform: perspective(0);
}


/* Push Google Logo up for attribution 
  reasons when the slider is visible (google-map is selected)*/
/* 
#google-map.selected div div a[target='_blank'] div {
  margin-bottom: 100px;
} */

google-map-cached {
  width: 100%;
  flex-grow: 100000;
  display: flex;
  flex-direction: column;
  white-space: pre;
}


@media (max-width: 570px) {
  .mobileHidden {
    opacity: 0;
  }
}


.blurred {
  backdrop-filter: blur(4px);
}

a.button-link:not(.ignoreCss),
div.cssResponsive[role='button']:not(.ignoreCss) {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1rem;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: .2rem;
}

.overline {
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1rem;
}


/* Adapted from
https://codepen.io/studiotwist/pen/KmoOJw/
*/
.shakingBell {
  animation: bellshake .5s cubic-bezier(.36, .07, .19, .97) both;
  backface-visibility: hidden;
  transform-origin: top left 50%;
}

@keyframes bellshake {
  0% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(5deg);
  }

  30% {
    transform: rotate(-5deg);
  }

  45% {
    transform: rotate(4deg);
  }

  60% {
    transform: rotate(-4deg);
  }

  75% {
    transform: rotate(2deg);
  }

  85% {
    transform: rotate(-2deg);
  }

  92% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0);
  }
}


html {
  --cubic: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}