@import "./map.css";
@import "./datepicker.css";

body {
  margin: 0;
  color: #293c4b;
  overflow: hidden;
}

text {
  font-family: "SF Pro Text", sans-serif;
  font-size: 10px;
  fill: rgba(115, 115, 115, 1);
}

.handle {
  cursor: ew-resize;
}

gmap,
google-map-cached {
  width: 100%;
  height: 100%;
}

.blurred {
  backdrop-filter: blur(4px);
}

div div.clickThrough .nonClickThrough {
  pointer-events: all;
}

div .clickThrough:not(.nonClickThrough) {
  pointer-events: none;
}

.fillErrorRedOnHover:hover img {
  filter: invert(41%) sepia(100%) saturate(379%) hue-rotate(317deg) brightness(71%) contrast(164%);
}

.fillWhiteOnHover:hover img {
  filter: brightness(100%) saturate(0) invert(1);
}



.fillPurple img {
  filter: brightness(0) saturate(100%) invert(24%) sepia(97%) saturate(1937%) hue-rotate(235deg) brightness(97%) contrast(93%);
}


.fillWhite img {
  filter: brightness(100%) saturate(0) invert(1);
}


.fillDarkGreen img {
  filter: invert(59%) sepia(40%) saturate(342%) hue-rotate(114deg) brightness(93%) contrast(88%);
}


.fillDarkness img {
  filter: invert(59%) sepia(40%) saturate(363%) hue-rotate(170deg) brightness(33%) contrast(99%);
}


.fillErrorRed img {
  filter: invert(41%) sepia(100%) saturate(379%) hue-rotate(317deg) brightness(71%) contrast(164%);
}



.animatesShadow:not(.animatesNone) {
  transition: box-shadow, transform, border 250ms 50ms;
  transition-timing-function: var(--cubic)
}

.animatesAll20Seconds:not(.animatesNone) {
  transition: all 20000ms 50ms;
  transition-timing-function: linear;
}

.animatesAll:not(.animatesNone) {
  transition: all 250ms 0ms;
  transition-timing-function: var(--cubic)
}

.animatesAllDelayed:not(.animatesNone) {
  transition: all 250ms 100ms;
  transition-timing-function: var(--cubic)
}

.safari-clip {
  transform: perspective(0);
}


/* Push Google Logo up for attribution 
  reasons when the slider is visible (google-map is selevted)*/

#google-map.selected div div a[target='_blank'] div {
  margin-bottom: 100px;
}

google-map-cached {
  width: 100%;
  flex-grow: 100000;
  display: flex;
  flex-direction: column;
  white-space: pre;
}


@media (max-width: 570px) {
  .mobileHidden {
    opacity: 0;
  }
}


.blurred {
  backdrop-filter: blur(4px);
}

a.button-link:not(.ignoreCss),
div.cssResponsive[role='button']:not(.ignoreCss) {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1rem;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: .2rem;
}

.overline {
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1rem;
}


html {
  --cubic: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}